{% if success %}
<div class="alert alert-success" role="alert">{{ success }}</div>
<a href="{% url 'recipemanager:ingredient_list' %}" class="btn btn-outline-primary btn-lg" role="button"
   aria-pressed="true">
    View ingredient list
</a>
<a href="{% url 'recipemanager:ingredient_create' %}" class="btn btn-outline-primary btn-lg" role="button"
   aria-pressed="true">
    Create another ingredient
</a>

{% else %}
    <form action="{{request.path}}" method="post">
        {% csrf_token %}
        <div class="form-group form-row">
            <label for="ingredient-name">Name</label>
            <input name="name" type="text" class="form-control" id="ingredient-name" required
                   value="{{ form_data.name }}">
        </div>
        <div class="form-group form-row">
            <label for="ingredient-ean">EAN</label>
            <input name="ean" type="text" class="form-control" id="ingredient-ean" required
                   value="{{ form_data.ean }}" minlength=13 maxlength=13
                   {% if 'edit' in request.path %} disabled {% endif %}
                   >
        </div>
        <div class="form-group form-row">
            <div class="form-group">
                <label for="ingredient-amount">Item amount</label>
                <input name="amount" type="text" class="form-control" id="ingredient-amount"
                       required value="{{ form_data.amount}}">
            </div>
            <div class="form-group">
                <label for="ingredient-unit">Unit</label>
                <select name="unit" id="ingredient-unit" class="form-control"
                        value="{{form_data.unit}}">
                    <option
                        {% if not form_data or form_data.unit == 'grams' %} selected {% endif %}
                    >grams</option>
                    <option {% if form_data.unit == 'kilograms' %} selected {% endif %}>kilograms</option>
                    <option {% if form_data.unit == 'liter' %} selected {% endif %}>liter</option>
                    <option {% if form_data.unit == 'centiliter' %} selected {% endif %}>centiliter</option>
                </select>
            </div>
        </div>
        <div class="form-group form-row">
            <label for="ingredient-price">Price (&euro;)</label>
            <input name="price" type="text" class="form-control" id="ingredient-price"
                   required value="{{ form_data.price}}">
        </div>

        {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error:</strong> {{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        <button type="submit" class="btn btn-primary">save</button>
    </form>
{% endif %}
