{% if success %}
<div class="alert alert-success" role="alert">{{ success }}</div>
<a href="{% url 'recipemanager:recipe_list' %}" class="btn btn-outline-primary btn-lg" role="button"
   aria-pressed="true">
    View recipe list
</a>
<a href="{% url 'recipemanager:recipe_create' %}" class="btn btn-outline-primary btn-lg" role="button"
   aria-pressed="true">
    Create another recipe
</a>

{% else %}
    <form action="{% url 'recipemanager:recipe_create' %}" method="post">
        {% csrf_token %}
        <div class="form-group form-row">
            <label for="recipe-name">Name</label>
            <input name="name" type="text" class="form-control" id="recipe-name"
                   value="{{ form_data.name }}">
        </div>

        <p class="lead">ingredients</p>

        <table id="recipe-listing" class="table">
            <thead class="thead-light">
                <th>EAN</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#ingredient-modal">
                        <i class="fa fa-plus-circle"></i>
                    </button>
                </th>
            </thead>
            {% for i in ingredients%}
            <tr id="{{ i.ean }}-recipe-listing">
                <td>{{ i.ean }}</td>
                <td>{{ i.name }}</td>
                <td>&euro; {{ i.price }} per {{ i.amount }} {{ i.unit }}</td>
                <td>
                    <div class="input-group">
                        <input type="text" name="{{ i.ean }}-item-quantity" class="form-control" aria-describedby="input-group-prepend" >
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="input-group-prepend">{{ i.unit }}</span>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <input type="checkbox"
                               id="recipe-listing-checkbox-{{ i.ean }}"
                               name="ingredient-selected-{{ i.ean }}"
                               class="checkbox-toggler recipe-listing-checkbox ean-{{ i.ean }}">
                        <span class="btn btn-outline-danger btn-sm">
                            <i class="fa fa-times"></i>
                        </span>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>

        {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error:</strong> {{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        <button type="submit" class="btn btn-primary">save</button>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="ingredient-modal" tabindex="-1" role="dialog" aria-labelledby="ingredient-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ingredient-modal-title">Ingredients</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="standby-listing" class="table">
                        <thead class="thead-light">
                            <th></th>
                            <th>EAN</th>
                            <th>Name</th>
                        </thead>
                        {% for i in ingredients%}
                        <tr id="{{ i.ean }}-standby-listing">
                            <td>
                                <input type="checkbox"
                                       id="standby-listing-checkbox-{{ i.ean }}"
                                       class="checkbox-toggler standby-listing-checkbox ean-{{ i.ean }}">
                            </td>
                            <td>{{ i.ean }}</td>
                            <td>{{ i.name }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success">Include checked</button>
                </div>
            </div>
        </div>
    </div>

{% endif %}

